.container-custom {
    margin-right: 60px;
    margin-left: 60px;
}

.cards {
    max-width: 380px;
    border-radius: 12px;
    background-color: #fff;
    padding: 30px;
}

.cards:hover {
    cursor: pointer;
}


.add-card {
    max-width: 380px;
    border-radius: 12px;
}

.icon-box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.add-income {
    background-color: #e6f4ea;
}

.add-expense {
    background-color: #fdecea;;
}

.grid {
    gap: 30px;
}

.modal-btn {
    appearance: none;
}